@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$green: rgba(55, 174, 142, 1);
$greenBorder: rgba(0, 150, 121, 1);
$blackBgMenu: rgba(34, 34, 34, 1);
$greyFontNav: rgba(221, 221, 221, 1);
$greyFooter: #f0f0f0;
$colorCu: rgba(167, 117, 86, 1);

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
